.content2 {

  div {
    width: 50%;
    position: relative;

    img {
      width: 100%;
      vertical-align: bottom;
    }

    div {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 15em;
      margin-bottom: 3em;
      text-align: center;
      transform: translate(-50%);

      p {
        color: $veryDarkDesaturatedBlue;
      }
    }
  }

  @include breakpoint-down(small) {
    div {
      width: 100%;
    }
  }
}